h1.gener{
    text-align: center;
    font-weight: bold;
}
#div{
    display: inline-block;
}
div.groc{
    background-color: yellow;
    height: 2cm;
    width: 8cm;
    display: inline-block;
}

div.blau{
    background-color: blue;
    height: 2cm;
    width: 8cm;
    display: inline-block;
}

div.roig{
    background-color: red;
    height: 2cm;
    width: 8cm;
    display: inline-block;
}
div.footer{
    background-color: green;
}

p.abajo{
    background-color: green;
    display: block;
    width: 100%;
}
span.estudiar{
    text-decoration: underline;
}


